@font-face {
    font-family: 'LeagueSpartan';
    src: url(../fonts/LeagueSpartan-Light.woff2) format('woff2'), url(../fonts/LeagueSpartan-Light.woff) format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueSpartan';
    src: url(../fonts/LeagueSpartan-Medium.woff2) format('woff2'), url(../fonts/LeagueSpartan-Medium.woff) format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'LeagueSpartan';
    src: url(../fonts/LeagueSpartan-Regular.woff2) format('woff2'), url(../fonts/LeagueSpartan-Regular.woff) format('woff');
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

